html {
  font-size: 20px;
  font-family: 'Times New Roman';
}
h1 {
  font-size: 50px;
  text-align: center;
}
h2 {
  font-size: 24px;
  text-aling: center;
}
h3 {
  font-size: 24px;
  text-align: center;
}
h4{
  font-size: 20px;
}
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #74cbf2;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: #00A0E9;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  
}
img {
  display: block;
  margin: 0 auto;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
